html {
  background-color: aliceblue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
}

input {
  padding: 1rem;
  margin: 1rem;
}

img, button {
  display: block;
  margin: 1rem auto 0;
}

button {
  padding: 1rem;
}